<div layout="column" layout-padding ng-cloak>

    <md-list ng-cloak>
        <md-subheader class="md-no-sticky">Add new alarm</md-subheader>

        <md-list-item>
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <p>Choose days</p>
            <md-input-container md-no-float class="md-secondary no-margin" layout="row" layout-align="start center" layout-padding>
                <md-checkbox ng-model="alarmclockCtl.days[0]" aria-label="Monday">Mon</md-checkbox>
                <md-checkbox ng-model="alarmclockCtl.days[1]" aria-label="Tuesday">Tue</md-checkbox>
                <md-checkbox ng-model="alarmclockCtl.days[2]" aria-label="Wednesday">Wed</md-checkbox>
                <md-checkbox ng-model="alarmclockCtl.days[3]" aria-label="Thursday">Thu</md-checkbox>
                <md-checkbox ng-model="alarmclockCtl.days[4]" aria-label="Friday">Fri</md-checkbox>
                <md-checkbox ng-model="alarmclockCtl.days[5]" aria-label="Saturday">Sat</md-checkbox>
                <md-checkbox ng-model="alarmclockCtl.days[6]" aria-label="Sunday">Sun</md-checkbox>
            </md-input-container>
        </md-list-item>

        <md-list-item>
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <p>Alarm duration (in minutes)</p>
            <md-input-container md-no-float class="md-secondary no-margin">
                <input ng-model="alarmclockCtl.duration" type="number" min="0" step="1" aria-label="Duration" style="width:50px;">
            </md-input-container>
        </md-list-item>

        <md-list-item class="md-2-line">
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <div class="md-list-item-text">
                <h3>Enable alarm on non working days</h3>
                <p>Non working days are legal/religious holidays. It does not include school holidays.</p>
            </div>
            <md-checkbox class="md-secondary" ng-model="alarmclockCtl.nonWorkingDays"></md-checkbox>
        </md-list-item>

        <md-list-item>
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <p>Time</p>
            <md-input-container md-no-float class="md-secondary no-margini no-error-spacer">
                <input ng-model="alarmclockCtl.hour" type="number" max="23" min="0" step="1" style="text-align: right; width: 50px;" aria-label="Hour">
            </md-input-container>
            <md-input-container md-no-float class="md-secondary no-margin">
                <span>:</span>
            </md-input-container>
            <md-input-container md-no-float class="md-secondary no-margin no-error-spacer">
                <input ng-model="alarmclockCtl.minute" type="number" max="59" min="0" step="1" aria-label="Minute" style="width: 50px;">
            </md-input-container>
        </md-list-item>

        <md-list-item>
            <p></p>
            <md-button ng-click="alarmclockCtl.addAlarm()" class="md-raised md-primary md-secondary">
                <md-icon md-svg-icon="alarm-plus"></md-icon>
                Save alarm
            </md-button>
        </md-list-item>

        <md-subheader class="md-no-sticky">Existing alarms</md-subheader>

        <md-list-item ng-repeat="alarm in alarmclockCtl.devices" ng-if="alarmclockCtl.devices.length" class="md-2-line">
            <md-icon ng-if="alarm.enabled" md-svg-icon="alarm-note"></md-icon>
            <md-icon ng-if="!alarm.enabled" md-svg-icon="alarm-note-off"></md-icon>
            <div class="md-list-item-text">
                <h3>{{ alarm.time.hour | padzero }}:{{ alarm.time.minute | padzero }}</h3>
                <p>Enabled {{ alarm.days | hrDays }} - {{ alarm.nonWorkingDays ? 'enabled on non-working-days' : 'disabled on non-working-days' }}</p>
            </div>
            <md-input-container class="md-secondary">
                <md-button ng-click="alarmclockCtl.toggleAlarm(alarm.uuid)" class="md-raised md-primary" aria-label="Toggle">
                    <md-icon ng-if="alarm.enabled" md-svg-icon="alarm-note-off"></md-icon>
                    <md-icon ng-if="!alarm.enabled" md-svg-icon="alarm-note"></md-icon>
                    <span ng-if="alarm.enabled">Disable</span>
                    <span ng-if="!alarm.enabled">Enable</span>
                </md-button>
            <md-input-container>
            <md-input-container class="md-secondary">
                <md-button ng-click="alarmclockCtl.removeAlarm(alarm.uuid)" class="md-raised md-accent" aria-label="Delete">
                    <md-icon md-svg-icon="delete"></md-icon>
                </md-button>
            <md-input-container>
        </md-list-item>
        <md-list-item ng-if="!alarmclockCtl.devices.length">
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <p>No alarm configured</p>
        </md-list-item>
    </md-list>

</div>
    
